<div class="frame">
  <button
    mat-raised-button color="accent"
    class="keep-distance"
    *ngIf="(started$ | async) === (false)"
    (click)="start()"
    >
    start</button>
  <mat-card
    *ngIf="started$ | async"
    >
    <mat-card-header>
      <mat-card-title>erm per minute</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item> {{minutes$ | async | number:'2.0-0'}}:{{seconds$ | async | number:'2.0-0'}} </mat-list-item>
        <mat-list-item> Total : {{total$ | async}} </mat-list-item>
        <mat-list-item> erm/m : {{epm$ | async | number:'1.0-0'}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card
  >
  <button
    mat-raised-button color="primary"
    class="keep-distance"
    *ngIf="started$ | async"
    (click)="erm()"
    >
    erm!</button>
</div>
